<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory Listing {{.Path}}</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <style>
        body {
            font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #466963;
            margin: 0;
            padding: 20px;
            background: #f9f9f9;
        }


        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;

            &.filled {
                font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24
            }
        }

        .content {
            max-width: 500px;
            margin: 0 auto;
        }

        .directory-name {
            color: #242424;
        }

        .list {

            list-style-type: none;
            padding: 0;
            display: grid;
            grid-template-columns: min-content min-content 1fr min-content min-content;
            grid-gap: 3px;
            align-items: center;

            & .file {
                color: #002366;
                background: white;
                margin: 5px 0;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                grid-column: 1/-1;
                display: grid;
                grid-template-columns: subgrid;
                align-items: inherit;

                &.dir {
                    color: #5e0336;

                    & .link {
                        color: unset;

                        &:active {
                            color: #d20a77;
                        }
                    }
                }

                & .link {
                    color: unset;

                    &:active {
                        color: #054dd9;
                    }

                    display: inline-grid;
                    grid-column: 1/4;
                    grid-template-columns: subgrid;
                    grid-gap: 10px;
                    align-items: inherit;
                    text-decoration: none;
                    font-weight: 500;

                    & .label:hover {
                        text-decoration: underline;
                    }
                }

                & .download {
                    grid-column: 4;
                }

                & .delete-link {
                    grid-column: 5;
                }

                & .download, & .delete-link {

                    display: inline-grid;
                    align-items: center;
                    justify-content: center;
                    color: #466963;
                    text-decoration: none;
                    font-size: 1.5em;
                    cursor: pointer;
                    transition: color 0.2s;

                    &:hover {
                        color: #77b6ae;
                        font-weight: 600;
                    }

                    &:active {
                        color: #466963;

                    }

                }
            }
        }


    </style>
    <script>
        function addHoverClass(parent) {
            const child = parent.querySelector('.icon');
            child.classList.add("filled");
        }

        function removeHoverClass(parent) {
            const child = parent.querySelector('.icon');
            child.classList.remove("filled");
        }

        async function deleteResource(ev) {
            const url = ev.target.dataset.url;
            try {
                // Get the current URL
                const pageURL = new URL(window.location.href);

                // Extract the username and password from the URL
                const username = pageURL.username;
                const password = pageURL.password;

                const response = await fetch(pageURL, {
                    method: 'DELETE',
                    headers: {
                        'Authorization': 'Basic ' + btoa(username + ':' + password)
                    }
                });

                if (!response.ok) {
                    throw new Error('Network response was not OK');
                }

                console.log('Resource deleted successfully');
                location.reload(); // Refresh the page on success
            } catch (error) {
                console.error('Error deleting resource:', error);
            }
        }


    </script>
    <script defer>
        const deleteLinks = document.getElementsByClassName('delete-link');
        Array.from(deleteLinks).forEach((button) => {
            button.addEventListener('click', deleteResource);
        })
    </script>
</head>
<body>
<div class="content">


    <h1 class="directory-name">Directory Listing for {{.Path}}</h1>
    <ul class="list">
        {{range $index, $item := .Files}}
            <li class="file{{if $item.IsDir}} dir{{end}}"
                onmouseover="addHoverClass(this)" onmouseout="removeHoverClass(this)">
                <a class="link" href="{{$item.URL}}">
                    {{if $item.IsDir}}
                        <span class="icon material-symbols-outlined">folder</span>
                    {{else}}
                        <span class="icon material-symbols-outlined">insert_drive_file</span>
                    {{end}}
                    {{printf "%02d" $index}}. <span class="label">{{$item.Name}}</span>
                </a>
                {{if not $item.IsDir}}
                    <a href="{{$item.URL}}" class="download" download>
                        <span class="icon material-symbols-outlined">download</span>
                    </a>
                {{end}}
                <a href="#" class="delete-link" data-url="{{$item.URL}}">
                    <span class="icon material-symbols-outlined">delete</span>
                </a>
            </li>
        {{end}}
    </ul>
</div>
</body>
</html>
